@import url('https://fonts.cdnfonts.com/css/elliotsix');
body {
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}
.tube {
    color: red;
    font-family: 'ElliotSix', sans-serif;
}
b {
    color: red;
}